#landing_page {
  background: url("./assets/screen9.png") no-repeat center center fixed; 
  background-color: #83822d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Signika', serif;
}

#quiz_home {
  background: url("./assets/screen8.png") no-repeat center center fixed; 
  background-color: #83822d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Signika', serif;
}

body {
  margin-top: 50px;
  margin-left: 100px;
}

#logo, #logo2 {
  width: auto;
  height: 40px;
  filter: drop-shadow(3px 2px 3px black);
  cursor: pointer;
}

#logo2 {
  height: 60px;
}

.landing {
  margin-top: 70px;
}

.big_text{
  color: #ffffff;
  font-size: 100px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  filter: drop-shadow(5px 3px 6px black);
}

.medium_text{
  color: #dfd81a;
  font-family: 'Raleway', serif;
  font-size: 45px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  filter: drop-shadow(5px 3px 6px black);
}

.small_text{
  color: #ffffff;
  font-family: 'Raleway', serif;
  font-size: 30px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  filter: drop-shadow(5px 3px 6px black);
}

#button_section{
  margin-top: 50px;
}

button {
  width: 100px;
  height: 37px;
  border-radius: 15px;
  background-color: #6d8c04;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
background: #dfd81a;
color: white;
transition: none;
}

#button_2 {
  background: none;
  border: 3px solid;
  border-color: #6d8c04;
}

#button_2:hover{
  border-color: #dfd81a;
}

#button_3 {
  background: none;
  border: none;
  display: block;
  width: auto;
  outline: none;
  transition: 0.3s;
  box-shadow: none;
  border-bottom: 1px solid #dfd81a;
  border-radius: 0px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
 
#button_3:hover {
  background: #dfd81a;
  color: white;
  transition: none;
}

nav {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}

#logo2{
  margin: auto;
  margin-left: 50px;
}

li{
  display: inline;
  list-style-type: none;
}


#page_text {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  color: #ffffff;
}

#page_text b{
  font-size: 35px;
  filter: drop-shadow(3px 2px 3px black);
}

.heading_centre {
  position: relative;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

#page_text p{
  margin: auto;
  filter: drop-shadow(3px 2px 1px black);
  text-transform: uppercase;
  font-size: 17px;
}

table {
  width: 100%;
  min-height: 120px;
  border-collapse: separate;
  border-spacing: 0 20px;  
}

.table_container {
  width: 100%;
  min-height: 230px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: #ffffff;
  padding-bottom: 15px;
  position: relative;
  display: grid;
}

#table_bottom_text {
  margin:auto;
  margin-top: 30px;
  margin-right: 0;
  color: #6d8c04;
  font-weight: 700;
  font-size: 18px;
}

#button_4 {
  font-size: 13px;
  height: 30px;
  width: 120px;
}

#set_record {
  margin-right: 20px;
}

td, th {
  text-align: center;
  padding: 0;
  margin: 0;
  ; 
}

th {
  color: #6d8c04;
  border-bottom: 3px solid #6d8c04;
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.index {
  color: #6d8c04;
}

td {
  font-size: 15px;
}


