* {
  
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

html {
   background: url("./assets/honey_lines.png") no-repeat center center fixed;
   background-color: #83822d;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: "Signika", serif;
}

body {
   position: relative;
   font-size: 17px;
   line-height: 1.7;
   width: 100%;
   height: 100%;
   color: #ffffff;
   display: flex;
   margin-top: 50px;
}


.wrapper {
   background-color: #ffffff;
   margin: auto;
   margin-right: 50px;
   width: 630px;
   min-height: 560px;
   display: flex;
   position: relative;
   padding-bottom: 30px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

form {
   margin: auto;
   padding: 0;
   margin-top: 40px;
   position: relative;
   display: grid;
}

.question {
   font-size: x-large;
   text-align: center;
}

.question_heading {
   color: #6d8c04;
   text-transform: uppercase;
   font-weight: 600;
   filter: drop-shadow(1px 0px 0px black);
}

.question_text {
   color: #6d8c04;
   margin-top: 50px;
   margin-bottom: 30px;
}

.options {
   margin: auto;
   font-size: large;
   width: 400px;
   padding: 0;
   position: relative;
   display: grid;
   height: 300px;
}

button:hover {
   background: #dfd81a;
   color: white;
   transition: none;
 }

.option_button {
   width: 100%;
   height: 50px;
   border: none;
   border-radius: 10px;
   color: #6d8c04;
   outline: none;
   font-size: 18px;
   text-align: left;
   padding-left: 25px;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.submit_button {
   width: 30%;
   height: 40px;
   margin: auto;
   margin-right:0;
   border-radius: 10px;
   background-color: #6d8c04;
   border: none;
   outline: none;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   font-size: 18px;
   color: #ffffff
}


.options input[type="radio"] {
   opacity: 0;
   position: fixed;
   width: 0;
 }
 
 .options label {
   width: 100%;
   height: 50px;
   border: none;
   border-radius: 10px;
   color: #83822d;
   outline: none;
   font-size: 18px;
   padding-left: 25px;
   padding: 10px;
   display: inline-block;
   vertical-align: middle;
   text-align: center;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

}
.options input[type="radio"]:checked + label {
   background-color:#dfd81a;
   border-color: #6d8c04;
   color: #ffffff;
}

.options label:hover {
   background-color: rgb(234, 247, 232);
}
