* {
  
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

html {
   background: url("./assets/screen7.png") no-repeat center center fixed;
   background-color: #83822d;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: "Signika", serif;
}

body {
   position: relative;
   width: 100%;
   height: 100%;
   color: #ffffff;
   display: flex;
   margin-top: 55px;
}

.result_container {
   background-color: #ffffff;
   margin: auto;
   width: 630px;
   min-height: 560px;
   display: grid;
   position: relative;
   grid-row-gap: o;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.result_title, .result {
   color: #6d8c04;
   text-transform: uppercase;
   font-weight: 600;
   filter: drop-shadow(1px 0px 0px black);
   margin: auto;
   padding: 0;
   font-size: 50px;
   padding-bottom: 20px;
}

.result_title {
   margin-top: 30px;
}

.circle {
   width: 200px;
   height: 200px;
   border: 3px solid #dfd81a;
   margin: auto;
   margin-top: 0;
   padding: 0;
   border-radius: 50%;
   position: relative;
   display: flex;
}


.result {
   position: relative;
   font-size: 50px;
}

button:hover {
   background: #dfd81a;
   color: white;
   transition: none;
 }

 .ok_button {
   width: 20%;
   height: 40px;
   margin: auto;
   border-radius: 10px;
   background-color: #6d8c04;
   border: none;
   outline: none;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   font-size: 18px;
   color: #ffffff
 }

 .comment {
   position: relative;
   font-size: 50px;
   color: #6d8c04;
   font-size: 30px;
   margin: auto;
   margin-top: 0;
 }
 
